@charset "UTF-8";
body {
  font-size: 18px; }
  @media (min-width: 992px) {
    body {
      padding: 30px 0; } }

#product-colors {
  align-content: space-between; }
  #product-colors li {
    display: inline-block;
    width: 50px;
    height: 50px; }

#product-image {
  width: 100%; }

#product-name {
  line-height: 1;
  margin: 10px 0; }

#product-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 1em;
  color: #A8182E; }
  #product-price #current-price {
    font-size: 1.4em;
    font-weight: 500; }
  #product-price #previous-price {
    color: #999999;
    text-decoration: line-through;
    font-weight: 300; }

#product-selected-color {
  font-weight: 500; }
  @media (min-width: 768px) {
    #product-selected-color {
      font-weight: 200; } }
  #product-selected-color span {
    font-weight: 500; }

#product-colors {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0; }
  #product-colors li {
    border: 2px solid #fff;
    position: relative;
    cursor: pointer; }
  #product-colors li.active:after {
    content: '';
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    border: 2px solid #000000; }

#product-size-wrapper,
#product-qty-wrapper {
  margin: 15px 0; }
  #product-size-wrapper p,
  #product-qty-wrapper p {
    font-weight: 500;
    margin-bottom: 0; }
    @media (min-width: 768px) {
      #product-size-wrapper p,
      #product-qty-wrapper p {
        font-weight: 200; }
        #product-size-wrapper p span,
        #product-qty-wrapper p span {
          font-weight: 500; } }
  #product-size-wrapper select.custom-select,
  #product-qty-wrapper select.custom-select {
    border-radius: 0; }

#product-size-wrapper select.custom-select {
  width: 50%; }
  @media (min-width: 768px) {
    #product-size-wrapper select.custom-select {
      width: 100%; } }

#submit-button {
  border-radius: 0;
  background: #BDD654;
  margin: 30px 0;
  font-weight: 500; }

#product-info p {
  font-weight: 300; }
  #product-info p.info-title {
    font-weight: 600; }

#product-info ul {
  list-style: none;
  padding-left: 22.5px; }
  #product-info ul li {
    position: relative; }
    #product-info ul li:before {
      content: "•";
      font-size: 0.5em;
      vertical-align: middle;
      margin-left: -15px;
      margin-right: 15px; }

@media (min-width: 768px) {
  #size-submit-wrapper {
    margin: 30px 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between; }
    #size-submit-wrapper #product-qty-wrapper {
      flex-basis: 35%;
      margin: 0; }
    #size-submit-wrapper #submit-button {
      flex-basis: 60%;
      margin: 0; } }
